.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    position: relative;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-menu {
    margin-top: 10px;
}

.footer-menu a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.footer-menu a:hover {
    text-decoration: underline;
}

.footer-menu a.active {
    text-decoration: underline;
}
