<h2 class="center">Crescimento pessoal e profissional</h2>
<p>Cresicmento profissional,s empre pe muito fundamntal, evolutivo, aprimorando em cada aperfeiçoamento,
    de dicando no aperfeiçoamento, em cada aprofundamneto, no nosso cresciomento epssoal e profissional,
    sempre estudfando da melhor formam,e voluindo do aprimoramento, edicavel, estudo. um conhecimento importnate
    faz um crescente aperfeiçoamento.</p>
    <img [src]="crescimento" [alt]="altCrescimento">
    <p>Sempre cerscer é fundamntal, no aprimoramento,e volutivo, dedicavel, aperfeiçoando, da melhor forma,
        num cresciemnto equilibrado tanto pesosal como rpofissional.</p>
    <img [src]="crescer" [alt]="altCrescer">
    <app-footer></app-footer>