<h2 class="center">Aprimorar no estudo e dedicação</h2>
<p>Dedicar smer no estudao smepre no evolui como profissional, em cada area de nossa vida, e faz a gente evoluir profissiional, sempre nos aprofundam=ndo,
    em cada evolução, podemos aprimorara em cada aprimoramento. Evoluir como profissional, é fundamental, crescer semrpe é uma dadiva, aperfeiçoando de um
    estudo aprofundado. Um estudo no trabalho, pode beneficiar as pesosas e fazer elas crescer, como profissional e quanto na vida rpoofissional</p>
<img [src]="dedicacao" [alt]="altDedicacao">
<img [src]="trabalhando" [alt]="altTrabalhando">
<app-footer></app-footer>