<h2 class="cemter">Desenvolvimento pessoal e profissional</h2>
<p>Desenvolvimento, aprofundado, num crescimento aperfeiçoavel, evopluindo, cada aprofundamento, evolui=tivo, 
    aperfeiçoando, do crescimetno dedficavel, smepre em desenvolvimento, da melhor forma, paar ser um profissional
    de ponta num aprimoramento .</p>
<img [src]="desenvolvimento" [alt]="altDesenvolvimeno">
<p>Evoluir sempre é fundamntal, para nosos crescimeto, aperfeiçoado, num aprendizado de uma evolução no desenvolvimento
    aprimorado</p>
<img [src]="planoDesenvolvimento" [alt]="altDesenvolvimentoProfissional">
<app-footer></app-footer>